@font-face {
    font-family: 'Magic School Two';
    src: url('../fonts/MagicSchoolTwo.ttf');
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    padding: 1rem;
    background-image: url("../images/background.png");
    background-repeat: round;
    background-size: cover;
    font-size: 25px;
}

h1,h4{
    font-family: 'Magic School Two';
}